@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
:root {
--primary-color: #fff212;
--secondary-color: #3399CC;
--accent1-color: #c0bfbd;
--accent2-color: #ff66c4;
font-family: "Montserrat", "Lato", sans-serif;
--heading-font: "Montserrat", sans-serif;
--paragraph-font: "Lato", sans-serif,
}

.logo img {
    float:right;
    width: 10px;
    background-color: var(--accent2-color);
    border-radius: 20px 20px 20px 20px;
    padding: 0.5em;
    margin: 0 0 0 15px;
}

nav {
    background-color:var(--accent2-color);
    text-align: center;
    box-shadow: 0 2px 15px var(--accent1-color);
    font-family: var(--heading-font);
    color: whitesmoke;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

nav li a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    color: whitesmoke;
}

nav a:hover {
    background-color: whitesmoke;
    color: var(--accent2-color);
}

body {
    background-color: var(--secondary-color);
    min-height: 100%;
    color: #FFF;
    font-family: var(--paragraph-font);
}

main {
    background-color: whitesmoke;
    padding: 0.5em;
}

h1 {
    font-size: 50px;
    text-transform: capitalize;
}

h2, h3 {
    color: var(--accent2-color);
    text-align: left;
}

p{
    color: black;
    text-align: left;
    font-size: 17px;
}

footer {
    margin: 20px 0;
    font-size: 15px;
    text-align: center;
}

table, th, td {
    border: 2px var(--secondary-color) solid;
    color: #2b2b2b;
    padding: 0.5em;
    }
    
    table {
    background-image: url(image/back.gif);
    }

    td h3 {
        text-align: center;
    }

    header {
        text-align: center;
    }