@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --accent1-color: #ffc0cb;
    --accent2-color: #66cccc;
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Montserrat", sans-serif
}
main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
}
main section {
    margin: .5rem;
    border: 1px solid var(--accent1-color);
    padding: .1rem;
    background-color: whitesmoke;
}
header, footer, nav, section {
    display: block;
}

header {
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--heading-font);
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    color: var(--secondary-color);
}

h2 {
    border-bottom: 1px solid;
}

footer {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    padding: 20px;
    line-height: 75px;
    text-align: center;
}

img {
    width: 15em;
}

div {
    padding: 1em;
    display: box;
}

p {
    padding: 1em;
}
.title {
    align-items: center;
}