table {
    margin: auto;
    box-shadow: 0 0 20px black;
    height: 250px;
    border: lightgray solid 1px;
    border-collapse: collapse;
    font-family: "Montserrat", sans-serif;
}

.title {
    font-size: 20px;
    color: yellow;
}

th {
    background-color: black;
    color: white;
}

th, td {
    border: lightgray solid 1.5px;
    padding: 4px;
}

.middle {
    background-color: lightgray;
}