@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --accent1-color: #ffc0cb;
    --accent2-color: #66cccc;
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Montserrat", sans-serif
}

header {
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--heading-font);
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    color: var(--secondary-color);
}

h2 {
    border-bottom: 1px solid;
}

main {
    font-family: var(--paragraph-font);
}

img {
    align-items: right;
}

footer {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    padding: 20px;
    line-height: 75px;
    text-align: center;
}

.principle {
    margin: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px 1px rgba(200, 200, 200, 0.767);
    margin: 0px 0px 20px 0px;
    border: 1px var(--accent1-color);
    padding: 0;
}

div {
    padding: 1em;
    display: box;
}