@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --accent1-color: #ffc0cb;
    --accent2-color: #66cccc;
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Montserrat", sans-serif
}

.design-box {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 2em;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    border: 10px var(--accent1-color);
}

header {
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--heading-font);
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    color: var(--secondary-color);
}

h2 {
    border-bottom: 1px solid;
    width: 15em;
    align-items: center;
}

footer {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    padding: 20px;
    line-height: 75px;
    text-align: center;
}

.principle {
    margin: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px 1px rgba(200, 200, 200, 0.767);
    margin: 0px 0px 20px 0px;
    border: 10px;
    padding: 10px;
}

img {
    width: 10em;
}

div {
    padding: 1em;
    display: box;
}

p {
    padding: 1em;
}

.thirds {
  grid-template-columns: 40px;
  padding: 10px;
    text-align: center;
}

.white-space {
    grid-template-columns: 0 0 auto;
  padding: 10px;
    text-align: center;
}

.contrast {
   grid-template-columns: 0 0 0 0 40px;
    padding: 10px;
    text-align: center;
}