
.images {
    padding: 4em 0;
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.from-left {
    grid-column: 2/3;
}
.from-right {
    grid-column: 3/4;
}
article img[data-src] {
    filter: blur(0.2em);
  }
  
  article img {
    filter: blur(0em);
    transition: filter 0.5s;
  }