
body {
    margin: 0;
    font-family: Raleway;
    font-size: 16pt; 
    text-align: center;
    background: hsl(0, 0%, 96%);
 }
 .title {
    margin-bottom: 10px;
 }
 .sub-title {
    color: gray;
    font-size: 1em;
    margin-top: 0;
 }
  
 .photo { 
    display: block; 
    margin: 30vh auto;
    box-shadow: 0px 10px 40px rgba(0,0,0,.3);
    background: #eee;
    border: solid 40px #FFF;
    opacity: 0;
    transition: opacity .35s linear;
 }
 .photo[data-scroll="in"] {
    opacity: 1;
    transition-duration: 1s;
 }
article img[data-src] {
    filter: blur(0.2em);
  }
  
  article img {
    filter: blur(0em);
    transition: filter 0.5s;
  }