body {
    margin: 0;
    font-family: Raleway;
    font-size: 16pt; 
    text-align: center;
    background: whitesmoke
 }
 main {
     display: grid;
 }
 .title {
    margin-bottom: 10px;
 }
 .sub-title {
    color: gray;
    font-size: 1em;
    margin-top: 0;
 } 
.images {
    padding: 4em 0;
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.photo {
    grid-column-start: 2/3;
    grid-column-end: 3/4;
    border: solid 40px #FFF;
}
img[data-src] {
    filter: blur(0.2em)!important;
  }
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
  }