/*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Sans:wght@300&display=swap';*/
:root {
    --primary-color: #000000;
    --secondary-color: #9d251a;
    --accent1-color: #4b3782;
    --accent2-color: #f3c408;
    --accent3-color: #ffffff;

    font-family: 'Amatic SC', cursive;
    font-family: 'Josefin Sans', sans-serif;
    --heading-font: 'Amatic SC', cursive;
    --paragraph-font: 'Josefin Sans', sans-serif;
}

/*all page*/
footer {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--accent3-color);
    font-size: 25px;
    padding: 15px;
    text-align: center;
}
header {
    img {
    margin: auto;
    display: block;
    width: 100px;
    height: auto;
    padding-top: 10px;
}
}
.banner {
    background-color: var(--secondary-color);
    color: white;
    font-size: 30px;
}
nav {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 30px;
    margin: 0;
    .navigation {
        list-style: none;
        text-align: center;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }
    .navigation a:hover {
        color: var(--secondary-color);
    }
    .active {
        color: black;
    }
    .responsive li {
        display: block;
    }
    ul {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}
.heading1 {
    color: var(--accent3-color);
    background-color: var(--primary-color);
    text-align: center;
    width: 100%;
}
.caption {
    text-align: center;
}
h1 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 55px;
}
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 45px;
}
h3 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 35px;
}
h4 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 30px;
}
p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    font-size: 16px;
}
button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    padding: 10px;
    border: none;
}
button:hover {
    background-color: #c2645c;
    color: var(--accent3-color);
}
.fa {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 5px;
    width: 10px;
    height: 10px;
    text-decoration: none;
    border-radius: 50%;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  color: white;
  position: absolute;
  left: 87%;
  padding: 5px;
}
.fa-instagram {
    color: white;
    position: absolute;
    left: 92%;
    padding: 5px;
} 
/*homepage*/
.cta {
    text-align: center;
    background-color: var(--accent2-color);
    opacity: .8;
    padding: 5px;
    display: block;
    margin: 0 auto;
    width: 80%;
}
.book {
    display: block;
    margin: 10px auto;
}
.headings {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--accent3-color);
    font-size: 35px;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}
.hero {
    width: 100%;
    height: auto;
}
.summary {
    text-align: center;
}
table {
    margin: 0 auto 0 auto;
    width: 60%;
    padding: 10px;
}
.tabledate {

}
.tableicon {

}
.tabletemp {

}
.services h2 {
    text-align: center;
}
.contact-page {
    text-align: center;
}
.contacting {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
}
/*rentals*/
main .rentals {
    width: 270px;  
    height: 350px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.cards {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    align-items: center;
}
.cards img {
    box-shadow: 0 0 5px 5px gray;
    margin: 20px;
    width: 65%;
    height: auto;
}