body {
    background-color: ;
    padding: 0;
    margin: 0;
}
header {
    background-color: ;
    padding: 5px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}
header img {
    width: 80px;
    height: auto;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: ;
    margin-left: 20px;
    font-size: .9rem;
}
.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px solid lightpink;
    padding: 15px;
    background-color: whitesmoke;
    font-style: "Sacramento";
}

@media only screen and (min-width: 32.5em) {
    header img {
        width: 100%;
    }
    .headings h1 {
font-size: 3rem;
    }
    .motto {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
}