@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Sacramento&display=swap');
:root {
    --heading-font: "Sacramento", cursive;
    --paragraph-font: "Josefin Slab", serif
}

body {
    background-color: antiquewhite;
    font-size: 16px;
    font-family: var(--paragraph-font);
    padding: 16px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}

.banner-box img {
    width:100%;
    height: 200px;
    height: auto;
}

.home-right-img img {
    width: 400px;
    position: relative;
    grid-column: 1/4; 
    grid-row: 1/2;
}

.home-left-img img {
    width: 400px;
    position: relative;
    grid-column: 1/1;
    grid-row: 1/5;
}

.home-headline-1 h2 {
    position: relative;
    grid-column: 1/1;
    grid-row: 1/1;
}

.home-paragraph-1 p {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

.home-headline-2 h2 {
    position: relative;
    grid-column: 1/3;
    grid-row: 1/4;
}

.home-paragraph-2 p {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/5;
}

h2, h3 {
    color: rgb(#42BD78);
    font-style: oblique;
}

header,
footer {
    background-color: lightsteelblue;
    color: rgb(#9D5624);
    font-size: 24px;
    padding: 16px;
    font-family: var(--heading-font);
    box-shadow: 0 0 30px #43271C;
}

h1 {
    font-size: 3rem;
}

header {
    text-align: center;
}

.header img {
    float: left;
    background: #555;
}

.header h1 {
    position: relative;
}

nav{
    background-color: rgb(#42BD78);
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
}

nav > ul{
    list-style-type: none;
    display: flex
}
nav a{
    padding:1rem;
    min-width: 70px
}
nav a:link, nav a:visited{
    color: antiquewhite
}
    nav a:hover{
        color: antiquewhite;
        background-color: rgb(#9D5624)
    }