@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: white;
    }
    .images {
        padding: 10px 0;
        display: grid;
        gap: 5px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .gallery {
        grid-column-start: 2/3;
        grid-column-end: 3/4;
        width: 450px;
        height: 250px;
    }
}