@media only screen and (min-width: 80em) {
 
    header img {
        width: 80px;
    }
    .headings h1 {
        font-size: 3rem;
    }
    .headings {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .motto {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: white;
    }
    .hero {
        height: auto;
        width: 100%;
        text-align:center;
    }
    .welcome {
        display: block;
        position: absolute;
        top: 25px;
        margin: 0 auto 0 auto;
        background-color: whitesmoke;
        border: 1px solid black;
        padding: 1.5rem;
        box-shadow: 0 0 30px #111;
        opacity: .8;
    }
    .cards section {
        width: 270px;  
        height: 450px;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    img {
        margin: 20px;
        width: 65%;
        height: auto;
    }
}