@media only screen and (min-width: 60em) {
    .hero {
        height: auto;
        width: 100%;
        text-align:center;
    }
    header img {
        width: 70px;
        height: auto;
    }
    .welcome {
        display: block;
        position: absolute;
        top: 50px;
        left: 250px;
    }
    .card img {
        margin: 20px;
        width: 40%;
        height: auto;
    }
  }