@media only screen and (min-width: 60em) {
    .hero {
        height: auto;
        width: 100%;
        text-align:center;
    }
    .welcome {
        display: block;
        position: absolute;
        top: 25px;
        background-color: whitesmoke;
        border: 1px solid black;
        padding: 1.5rem;
        box-shadow: 0 0 30px #111;
        opacity: .8;
    }
    main div.cards {    
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }