/*@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');*/
:root {
--primary-color: #ffd900f5;
--secondary-color: #3399cc;
--accent1-color: #c0bfbd;
--accent2-color: #ff66c4;
font-family: "Montserrat", "Lato", sans-serif;
--heading-font: "Montserrat", sans-serif;
--paragraph-font: "Lato", sans-serif,
}

body {
    background-color: var(--accent1-color);
    padding: 0;
    margin: 0;
    font-family: var(--paragraph-font)
}
header {
    background-color: var(--accent2-color);
    padding: 5px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}
header img {
    width: 50px;
    height: auto;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    font-style: var(--heading-font);
}
h2 {
    font-style: var(--heading-font) !important;
}
.title {
    margin-left: 150px;
}
.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: white;
    margin-left: 20px;
    font-size: .9rem;
}
nav {
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--secondary-color)
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    color: white;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
}
.navigation a:hover {
    color: white;
    background-color: var(--accent2-color);
    font-weight: 700;
}
.active {
    background-color: #016ca1;
}
.responsive li {
    display: block;
}
#msform {
	width: 70%;
	margin: 50px auto;
	text-align: left;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px var(--accent2-color);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 70%;
	margin: 0 auto;
	position: relative;
}

#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: var(--heading-font);
	color: #2C3E50;
	font-size: 13px;
}

#msform .action-button {
	width: 100px;
	background: var(--secondary-color);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px var(--secondary-color);
}

.fs-title {
	font-size: 25px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 20px;
	color: #666;
	margin-bottom: 20px;
}
form label.info, form div{
    display:block;
    padding-top:  1rem;
    color:black;
    font-size: .8rem;
}
form label.info,label.info, form label.info select, .danger{
    -webkit-appearance:none;
    display: block;
    font-size: .90rem;
    width:400px;
    border-radius: .75rem;
    padding:.75rem;
}
.questions{
    margin-top: 60px;
}

input.info{
    border-radius: 5px;
    width: 100%;
    padding: .75rem;

}
.choice{
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-top:0;
    padding-bottom: 10px;
}
.submit{
    border: none;
    background-color: var(--accent2-color);
    color: white;
    font-size: 1em;
    border-radius:  1rem;
    padding: .75rem;
    width:200px;
    margin-left: 20px;
}
.submit:hover {
background-color: var(--secondary-color);
color: white;
}
footer {
    margin-top: 20px;
    text-align: center;
    background-color: var(--accent2-color);
    color: white;
    padding: 10px;
}
