@media only screen and (min-width: 25em) {
    .long {
        height: 300px;
        width: auto;
    }
    .hero {
        height: auto;
        width: 100%;
        text-align:center;
    }
    .pumpkins {
        display: block;
        padding-right: 50px;
        height: 150px;
        width: auto;
    }
    .pumpkins img {
        float: right;
    }
}