@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
:root {
--primary-color: #062b14;
--secondary-color: #974f1e;
--accent1-color: #3a5435;
--accent2-color: #ba7321;
font-family: "Montserrat", "Lato", sans-serif;
--heading-font: "Montserrat", sans-serif;
--paragraph-font: "Lato", sans-serif,
}

.banner-box {
    align-items: center;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    position: relative;
    text-transform: uppercase;
}

.logo img {
    align-items: center;
    width: 10px;
    background-color: var(--accent2-color);
    border-radius: 20px 20px 20px 20px;
    padding: 0.5em;
    border: 1px solid var(--accent2-color);
    position: relative;
}

.banner-box button {
    width: 20em;
    background-color: var(--primary-color);
    color: whitesmoke;
    line-height: 2em;
    font-family: var(--paragraph-font);
    border-radius: 2em;
    font-size: 1em;
    align-items: center;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
    box-shadow: 0 2px 15px gray;
    font-family: var(--heading-font);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

nav li a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    color: whitesmoke;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: whitesmoke;
}

.full-image img{
   width: 100%;
   border: 1px solid var(--accent2-color);
}

main {
    background-color: whitesmoke;
}

h1, h2, h3 {
    color: #974f1e;
    text-align: left;
}

p{
    color: #3a5435;
    text-align: left;
}