@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
:root {
--primary-color: #062b14;
--secondary-color: #974f1e;
--accent1-color: #3a5435;
--accent2-color: #ba7321;
font-family: "Montserrat", "Lato", sans-serif;
--heading-font: "Montserrat", sans-serif;
--paragraph-font: "Lato", sans-serif,
}

.banner-box {
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-transform: uppercase;
}

.banner-box img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1;
}

.logo {
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: var(--accent2-color);
    border-radius: 15px 15px 15px 15px;
    padding: 0.5em;
    border: 1px solid var(--accent2-color);
}

button {
    width: 10em;
    background-color: var(--primary-color);
    line-height: 2em;
    font-family: var(--paragraph-font);
    border-radius: 2em;
    font-size: 1em;
    align-items: center;
}

nav {
    background-color: var(--accent1-color);
    text-align: center;
    box-shadow: 0 2px 15px gray;
    font-family: var(--heading-font);
    color: whitesmoke;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

nav li a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: whitesmoke;
}

.action {
    grid-column: 1;
    grid-row: 1;
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
    font-family: var(--heading-font);
}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: var(--accent2-color);
    font-size: 1.2em;
    font-family: var(--paragraph-font);
}
