/*@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');*/
:root {
    --primary-color: #ffd900f5;
    --secondary-color: #3399cc;
    --accent1-color: #c0bfbd;
    --accent2-color: #ff66c4;
    font-family: "Montserrat", "Lato", sans-serif;
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Lato", sans-serif,
    }

@media only screen and (min-width: 60em) {
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: white;
    }
    .hero {
        height: auto;
        width: 100%;
        text-align:center;
    }
    header img {
        width: 70px;
        height: auto;
    }
    /*home*/
    .welcome {
        display: block;
        position: absolute;
        top: 240px;
        left: 250px;
    }
    info {
        display: grid;
        width: 90%;
    }
    info:nth-child(even) img{
        display: block;
        grid-column: 1;
    }
    info:nth-child(even) p{
        grid-column: 3;
    }
    info:nth-child(even) h1{
        grid-column: 3;
    }
    info:nth-child(even) h3{
        grid-column: 3;
    }
    info:nth-child(even) .motto{
        grid-column: 3;
    }
    info img {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
        width: 80%;
        margin: 20px;
    }
    info p {
        grid-column-start: 1;
        margin: 2px;
    }
    /*town pages*/
    table {
        width: 85%;
        padding: 10px;
    }
    .articleimg {
        display: block;
        margin: 0 auto 0 auto;
        padding: 30px;
        height: 300px;
        width: auto;
    }
    .text {
        margin: 0 auto 0 auto;
    }
    .google {
        display: block;
        margin: 0 auto 0 auto;
            border: 1px solid #000;
            box-shadow: 0 0 30px #555;
            padding: 1rem;
            text-align: left;
    }
    .contact {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .fa {
        text-align: center;
    }
    .summary {
        width: 65%;
    }
    /*storm center & gallery*/
    form {
        width: 90%;
    }
    .images {
        padding: 10px 0;
        display: grid;
        gap: 10px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .gallery {
        grid-column-start: 2/3;
        grid-column-end: 3/4;
        width: 400px;
        height: 250px;
    }
}
