@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap');

main{
    box-shadow: 0 0 5px 5px goldenrod;
    padding:1em;
}
h1, h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
p {
    font-family: 'Quicksand', sans-serif;
    margin-top: 3px;
}
main section {
    display: block;
    padding: 5px;
    text-align: center;
}
.cards {
    display: grid;
    grid-gap: 3px;
    background-color: cornsilk;
    border: 2px solid goldenrod;
}
img {
    box-shadow: 0 0 5px 5px goldenrod;
    width: 200px;
    overflow: hidden;
    display: flex;
}
footer {
    box-shadow: 0 0 5px 5px goldenrod;
    padding:1em;
    text-align: center;
    color: lightpink;
}