@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap');

main{
    box-shadow: 0 0 10px 5px cornsilk;
    padding: 1em;
    margin: 0 auto;
}
h1, h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
p {
    font-family: 'Quicksand', sans-serif;
    margin-top: 5px;
    margin: 0 0 10px 0;
}
main section {
    width: 270px;  
    height: 450px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.cards {
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    border: 2px solid goldenrod;
    margin: 20px;
    padding: 20px;
    align-items: center;
}
img {
    box-shadow: 0 0 5px 5px goldenrod;
    margin: 20px;
    width: 65%;
    height: auto;
}
footer {
    box-shadow: 0 0 10px 5px cornsilk;
    padding:1em;
    text-align: center;
    color: lightpink;
}
@media only screen and (min-width: 37.5em) {
    main div.cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
  }

  @media only screen and (min-width: 60em) {
    main div.cards {    
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (min-width: 85em) {
    main div.cards {    
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }