@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap');

main{
    box-shadow: 0 0 5px 5px cornsilk;
    padding:1em;
    margin: 0 auto;
}
h1, h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
p {
    font-family: 'Quicksand', sans-serif;
    margin-top: 3px;
}
main section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}
.cards {
    background-color: cornsilk;
    border: 2px solid goldenrod;
    margin: 10px;
}
img {
    box-shadow: 0 0 5px 5px goldenrod;
    height: 350px;
    margin: 10px;
}
footer {
    box-shadow: 0 0 5px 5px cornsilk;
    padding:1em;
    text-align: center;
    color: lightpink;
}