body {
    font-size: 16px;
    background-color: #fff;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace
  }
  
  /* Activity 1 styles */
  .content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
  }
  
  .red1 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
  }
  
  .green1 {
    width: 200px;
    height: 200px;
    background-color: green;
  }
  
  .gold1 {
    width: 200px;
    height: 200px;
    background-color: gold;
  }
  
  .blue1 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
  }

  .content2 {
    position: relative;
  }
  .red2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .green2 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 100px;
  }
  .gold2 {
    width: 100px;
    height: 100px;
    background-color: gold;
    position: absolute;
    top: 150px;
    left: 150px;
  }
  .blue2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 200px;
  }


  .content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  .red3 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
    position: absolute;
  }
  .green3 {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
  }
  .gold3 {
    width: 200px;
    height: 100px;
    background-color: gold;
    position: absolute;
    left: 600px;
  }
  .blue3 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
    position: absolute;
  }

  .content4 {
    display: grid;
    grid-template-rows: 1 1;
    position: relative;
  }
  .red4 {
    width: 200px;
    height: 300px;
    background-color: red;
    position: absolute;
  }
  .green4 {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 200px;
  }
  .gold4 {
    width: 200px;
    height: 100px;
    background-color: gold;
    position: absolute;
    top: 100px;
    left: 200px;
  }
  .blue4 {
    width: 200px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 200px;
    left:200px;
  }

  .content5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  .red5 {
    width: 100%;
    height: 50px;
    background-color: red;
    grid-column: 1/3;
    position: absolute;
  }
  .green5 {
    float: left;
    width: 100px;
    height: 100px;
    background-color: green;
  }
  .gold5 {
    width: 100%;
    background-color: gold;
    position: absolute;
  }
  .blue5 {
    width: 100%;
    height: 50px;
    background-color: blue;
    grid-column: 1/3;
    position: absolute;
  }

  .content6 {
    display: grid;
    position: relative;
  }
  .red6 {
    width: 400px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .blue6 {
    width: 400px;
    height: 400px;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
  }
  .green6 {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 400px;
  }
  .gold6 {
    width: 200px;
    height: 400px;
    background-color: gold;
    position: absolute;
    top: 200px;
    left: 400px;
  }
  